<header class="header">
  <a routerLink="/">
  <img src="./../../assets/img/Harmoniar_arquivos/Logo_Escura_SemFundo.png" alt="logoImg" id="logo">
  </a>
  <nav>
    <a routerLink="/">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/Home_Icon.png" class="casa" alt="homeicon">
        Home
        </div>
    </a>
    <a routerLink="/sobre-nos">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/User_Icon.png" class="user" alt="aboutusicon">
        Sobre Nós
        </div>
    </a>
    <a routerLink="/missao-valores">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/Missao_Icon.png" class="missao" alt="mvvicon">
        Missão e Valores
        </div>
    </a>
    <a routerLink="/nosso-aplicativo">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/App_Icon.png" class="app" alt="ouappicon">
        Nosso Aplicativo
        </div>
    </a>
  </nav>
</header>
<div class="Mobile">
<img src="./../../assets/img/Harmoniar_arquivos/MiniLogoMarca.png" alt="LogoMobile" id="LogoMobile">

  <nav>
    <a routerLink="/">
        <div class="mobileImg">
        <img src="./../../assets/img/Harmoniar_arquivos/Home_Icon.png" class="casa" alt="homeicon">
        <p>Home</p>
        </div>
    </a>
    <a routerLink="/sobre-nos">
        <div class="mobileImg">
        <img src="./../../assets/img/Harmoniar_arquivos/User_Icon.png" class="user" alt="aboutusicon">
        <p>Sobre Nós</p>
        </div>
    </a>
    <a routerLink="/missao-valores">
        <div class="mobileImg">
        <img src="./../../assets/img/Harmoniar_arquivos/Missao_Icon.png" class="missao" alt="mvvicon">
        <p>Missão e Valores</p>
        </div>
    </a>
    <a routerLink="/nosso-aplicativo">
        <div class="mobileImg">
        <img src="./../../assets/img/Harmoniar_arquivos/App_Icon.png" class="app" alt="ouappicon">
        <p>Nosso Aplicativo</p>
        </div>
    </a>
  </nav>

</div>
