<header class="header">
  <img src="./../../assets/img/Harmoniar_arquivos/Logo_Escura_SemFundo.png">
  <nav>
    <a routerLink="/">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/Home_Icon.png" class="casa">
        Home
        </div>
    </a>
    <a routerLink="/sobre">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/User_Icon.png" class="user">
        Sobre Nós
        </div>
    </a>
    <a routerLink="/missao">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/Missao_Icon.png" class="missao">
        Missão e Valores
        </div>
    </a>
    <a routerLink="/app">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/App_Icon.png" class="app">
        Nosso Aplicativo
        </div>
    </a>
  </nav>
</header>
