<header class="header">
  <a routerLink="/">
  <img src="./../../assets/img/Harmoniar_arquivos/Logo_Escura_SemFundo.png" alt="logoImg" id="logo">
  </a>
  <nav>
    <a routerLink="/">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/Home_Icon.png" class="casa" alt="homeicon">
        Home
        </div>
    </a>
    <a routerLink="/sobre-nos">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/User_Icon.png" class="user" alt="aboutusicon">
        Sobre Nós
        </div>
    </a>
    <a routerLink="/missao-valores">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/Missao_Icon.png" class="missao" alt="mvvicon">
        Missão e Valores
        </div>
    </a>
    <a routerLink="/nosso-aplicativo">
        <div class="imagens">
        <img src="./../../assets/img/Harmoniar_arquivos/App_Icon.png" class="app" alt="ouappicon">
        Nosso Aplicativo
        </div>
    </a>
  </nav>
</header>
<div class="Mobile">
<img src="./../../assets/img/Harmoniar_arquivos/Logo_Escura_SemFundo.png" alt="LogoMobile" id="LogoMobile">
<button class="hamburguer" (click)="toggleMenu()">
  <span></span>
  <span></span>
  <span></span>
</button>
<ul class={b}>
  <li><a href="#">Início</a></li>
  <li><a href="#">Sobre</a></li>
  <li><a href="#">Contato</a></li>
</ul>

</div>
