.header {
  font-family:Inter;
  font-size: 25px;
  display:flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly; /* distribui igualmente */
  background-color: #030027;
  border-bottom: 4px solid #ee964b; /* cor, espessura e estilo da "margem" */
}

.header nav{
  display:flex;
  flex-direction: row;
}

.header nav a {
  color: white;
  text-decoration: none;

}

.header nav a:hover {
  text-decoration: underline;
}
.casa{
  color: white;
    width: 25px;
    height: 25px;
}
.user{
  color: white;
    width: 25px;
    height: 25px;
}
.missao{
  color: white;
    width: 20px;
    height: 27px;
}
.app{
  color: white;
    width: 20px;
    height: 27px;
}
.imagens{
  margin-left: 3rem;
  margin-right: 3rem;
}

#logo{
  width: 12em;
  padding: 1em;
}
