.header {
  font-family:Inter;
  font-size: 25px;
  display:flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly; /* distribui igualmente */
  background-color: #030027;
  border-bottom: 4px solid #ee964b; /* cor, espessura e estilo da "margem" */
}
.Mobile{
  font-family:Inter;
  font-size: 25px;
  display:none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; /* distribui igualmente */
  background-color: #030027;
  border-bottom: 4px solid #ee964b; /* cor, espessura e estilo da "margem" */
  padding-right: 5%;
  padding-left: 5%;
}


.hamburguer {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;   /* largura do botão */
  height: 50px;  /* altura do botão */
  background: none;
  border:none;
  
}

.hamburguer span {
  height: 10px;         /* espessura da linha */
  background: white;   /* cor das linhas */
  border-radius: 2px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background: black;
  padding: 1em;
}
.mobile-menu a {
  color: white;
  padding: 0.5em 0;
}






@media (max-width: 1000px) {
.Mobile{
display: flex;
}
.header{
  display: none;
}
.hamburguer{
  display:flex;
}
.mobile-menu{
  display:flex;
}

}



.header nav{
  display:flex;
  flex-direction: row;
}

.header nav a {
  color: white;
  text-decoration: none;

}

.header nav a:hover {
  text-decoration: underline;
}
.casa{
  color: white;
    width: 25px;
    height: 25px;
}
.user{
  color: white;
    width: 25px;
    height: 25px;
}
.missao{
  color: white;
    width: 20px;
    height: 27px;
}
.app{
  color: white;
    width: 20px;
    height: 27px;
}
.imagens{
  margin-left: 3rem;
  margin-right: 3rem;
}

#logo{
  width: 12em;
  padding: 1em;
}
#LogoMobile{
  width: 12em;
  padding: 1em;display: flex;
}


