<div id="ft-container">
    <div class="content_container">
        <div class="ft-logoharmoniar">
            <img src="./../../../public/img/Harmoniar_arquivos/Logo_Escura_SemFundo.png" alt="Logo da empresa harmoniar">
        </div>
        <div class="ft-descubracontainer">
            <div class="ft-div-title">
                <p>Descubra</p>
            </div>
            <div class="ft-linkscontainer">
                <img src="./../../../public/img/Harmoniar_arquivos/Home_Icon.png" alt="HomeIcon">
                <a href="">Inicial</a>
            </div>
            <div class="ft-linkscontainer">
                <img src="./../../../public/img/Harmoniar_arquivos/User_Icon.png" alt="AboutUsIcon">
                <a href="">Sobre nós</a>
            </div>
            <div class="ft-linkscontainer">
                <img src="./../../../public/img/Harmoniar_arquivos/Missao_Icon.png" alt="MVVIcon">
                <a href="">Missão Visão e Valores</a>
            </div>
            <div class="ft-linkscontainer">
                <img src="./../../../public/img/Harmoniar_arquivos/App_Icon.png" alt="AppIcon">
                <a href="">Nosso Aplicativo</a>
            </div>
        </div>
        <div class="ft-midiassociaiscontainer">
            <div class="ft-div-title">
                <p>Mídias Sociais</p>
            </div>
            <div class="ft-midiasocialicon">
                <img src="./../../../public/img/Harmoniar_arquivos/Instagram_Icon.png" alt="Icone instagram">
            </div>
            <div class="ft-midiasocialicon">
                <img src="./../../../public/img/Harmoniar_arquivos/Facebook_Icon.png" alt="Icone facebook">
            </div>
            <div class="ft-midiasocialicon">
                <img src="./../../../public/img/Harmoniar_arquivos/Twitter_Icon.png" alt="icone x">
            </div>
        </div>
    </div>    
    <footer>
        <p>Copyright © 2025 - Harmoniar - Todos os direitos reservados</p>
    </footer>
</div>

