<div id="ft-container">
    <div class="content_container">
        <div class="ft-section">
            <img src="./../../assets/img/Harmoniar_arquivos/Logo_Escura_SemFundo.png" alt="Logo da empresa harmoniar" class="LogoImg">
        </div>
        <div class="ft-section">
            <div class="ft-div-title">
                <p>Descubra</p>
            </div>
            <div class="ft-linkscontainer">
                <img src="./../../assets/img/Harmoniar_arquivos/Home_Icon.png" alt="HomeIcon" class="LinkIcon">
                <a routerLink="/">Inicial</a>
            </div>
            <div class="ft-linkscontainer">
                <img src="./../../assets/img/Harmoniar_arquivos/User_Icon.png" alt="AboutUsIcon" class="LinkIcon">
                <a routerLink="/sobre-nos">Sobre nós</a>
            </div>
            <div class="ft-linkscontainer">
                <img src="./../../assets/img/Harmoniar_arquivos/Missao_Icon.png" alt="MVVIcon" class="LinkIcon">
                <a routerLink="/missao-valores">Missão Visão e Valores</a>
            </div>
            <div class="ft-linkscontainer">
                <img src="./../../assets/img/Harmoniar_arquivos/App_Icon.png" alt="AppIcon" class="LinkIcon">
                <a routerLink="/nosso-aplicativo">Nosso Aplicativo</a>
            </div>
        </div>
        <div class="ft-section" id="midiasSection">
            <div class="ft-div-title" >
                <p>Mídias Sociais</p>
            </div>
            <div class="ft-midiasocialicon">
                <a href=""><img src="./../../assets/img/Harmoniar_arquivos/Instagram_Icon.png" alt="Icone instagram" class="MediaIcon"></a>
            </div>
            <div class="ft-midiasocialicon">
                <a href=""><img src="./../../assets/img/Harmoniar_arquivos/Facebook_Icon.png" alt="Icone facebook" class="MediaIcon"></a>
            </div>
            <div class="ft-midiasocialicon">
                <a href=""><img src="./../../assets/img/Harmoniar_arquivos/Twitter_Icon.png" alt="icone x" class="MediaIcon"></a>
            </div>
        </div>
    </div>
    <footer>
        <p class="ft-text">Copyright © 2025 - Harmoniar - Todos os direitos reservados</p>
    </footer>
</div>

