.about-us-container {
    font-family: 'Inter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #030027;
    color:#fcf7f8;
    place-items: center;
    line-height: 1.8;
}

h1 {
    font-size: 45px;
    display: flex;
    padding:4rem;

}

.text-block {
    font-size: 25px;
    max-width: 70rem;
    place-items: center;
    padding: 3rem;

}

#objectives-list {
    font-size: 25px;
    padding: 0;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
    margin-bottom: 20px;
}

#objectives-list li {
    list-style-type: decimal;
    margin-bottom: 20px;
}
