<div class="about-us-container">
  <h1><strong>Sobre Nós</strong></h1>

  <img src="./../../assets/img/Harmoniar_arquivos/Logo_Escura.png" alt="Harmoniar Logo">
  <p class="text-block">
    Muitos músicos independentes enfrentam grandes desafios para se estabelecer na carreira, e poucos conseguem alcançar o sucesso, como contratos com gravadoras.
    <br><br>Foi pensando nesse desafio que surgiu a Harmoniar, desenvolvendo o aplicativo MajorBeat, que visa ajudar músicos independentes, especialmente no que diz respeito ao preenchimento de suas agendas e ao gerenciamento de sua carreira. A proposta é conectar músicos a contratantes para que esses profissionais superem as dificuldades e avancem rumo à realização de seus sonhos.
  </p>

  <h2><strong>Nossos Objetivos</strong></h2>
  <p class="text-block">
    Na Harmoniar, nosso principal objetivo é oferecer soluções práticas e eficientes para músicos que enfrentam as dificuldades do mercado. Sabemos que muitos têm talento e paixão pela música, mas precisam de ferramentas para transformar isso em uma carreira sustentável. Por isso, nos comprometemos em desenvolver soluções que tornam essa jornada mais acessível e menos desafiadora.
    <br><br>Com isso em mente, nossos objetivos são:
  </p>
  <ul id="objectives-list">
    <li>
      <p style="margin-top: 20px;"><strong>Apoiar músicos independentes:</strong> Ajudar artistas sem apoio de gravadoras a gerenciar melhor suas carreiras e acessar oportunidades de trabalho.</p>
    </li>
    <li>
      <p><strong>Fornecer ferramentas de visibilidade:</strong> Oferecer recursos para que músicos mostrem seu trabalho de forma profissional e ganhem destaque online.</p>
    </li>
    <li>
      <p><strong>Transformar talentos em carreiras sustentáveis:</strong> Apoiar músicos na construção de trajetórias sólidas e duradouras no mercado.</p>
    </li>
    <li>
      <p><strong>Inovar no mercado musical:</strong> Usar tecnologia para facilitar conexões, promover independência artística e reduzir burocracias.</p>
    </li>
    <li>
      <p style="margin-bottom: 25px;"><strong>Apoiar o crescimento contínuo:</strong> Garantir que músicos possam evoluir, expandir suas oportunidades e manter relevância no setor.</p>
    </li>
  </ul>

  <p class="text-block" style="margin-bottom: 35px;">
    Na Harmoniar, acreditamos que cada músico merece uma chance de transformar sua paixão em profissão. Nosso compromisso é criar as condições necessárias para que isso aconteça, tornando o caminho mais fácil, acessível e bem-sucedido para todos os artistas independentes.
  </p>
</div>
