#description{

 font-family: Inter;
 align-items: center ;
 text-align: center;
 justify-content: center ;
 margin-top: 5%;
 margin-bottom: 5%;
}

#title{
  text-align: center;
  margin-top: -1%;
}


#first-paragraph {
  position: relative;   
  display: block;      
  padding-right: 420px; 
  margin-top: 8%;
  margin-bottom: 3%;
}

#first-paragraph h3 {
  width: 650px;
  text-align: left;
  justify-self: center;
  margin-right: 3%;


}

#first-paragraph img {
  position: absolute;
  margin-right: 10%;
  margin-bottom: -2%;
  right: 0px;     
  bottom: 20px;    
  height: 350px;  
   

 
}




#second-paragraph{
  display: flex;
  text-align: left;
  justify-content: center;
}

#second-paragraph h3{
    width: 64%;
    margin-bottom: -10px;
    margin-top: 24px;
   margin-left: -10px;
}

#second{

  margin: auto;
  text-align: start;
  justify-content: left;
  align-items: left;
}



#second-paragraph img{

  height: 120px;
  margin-top: 2%;
}