<div class="container">
    <div class="titulo">
        <h1>Propósito</h1>
    </div>

<section>
    <div class="Sub1">
    <h2>Nossa Missão: </h2>
    </div>

    <p>Facilitar a busca por serviços de artistas autônomos, oferecer oportunidades
    de carreira na música, possibilitar uma parceria de forma rápida e menos 
    burocrática, além de promover a transação independente entre contratante e
    músico (sem a interferência de gravadoras/agências), concedendo assim uma
    alternativa para o autossustento de artistas pequenos.
    </p>

</section>

<section>
    <div class="Sub2">
        <h2>Nossa Visão: </h2>
    </div>

    <p>
    Ser reconhecido como uma referência de aplicação confiável quando se trata 
    de proporcionar oportunidades de carreira para músicos autônomos e na busca
    deles por propostas de trabalho.
    </p>
</section>

<section>
    <div class="Sub3">
        <h2>Nossos Valores: </h2>
    </div>

    <ul>
        <li>Ética</li>
        <li>Moralidade</li>
        <li>Integridade</li>
        <li>Criatividade</li>
        <li>Comunicação</li>
        <li>Trânsparencia</li>
        <li>Autonômia</li>
    </ul>
</section>


