
<div id="description">
<h1>Major Beat</h1>
<img src="/src/assets/img/Harmoniar_arquivos/LOGOMARCA.png" alt="logoApp">
<h3 id="first-paragraph">
  A incerteza da possibilidade de obter sucesso em uma carreira
  artística é uma grande barreira em meio a vida de milhares de
  músicos, que por muitas vezes abandonam o sonho de viver do
  seu maior prazer para se sustentar através de um trabalho
  comum, observando a necessidade dessa parcela da população,
  foi desenvolvido o MajorBeat, uma plataforma que conecta
  músicos independentes a contratantes para apresentações ao
  vivo, sendo um facilitador não apenas para os músicos, mas
  também para os contratantes à quem um leque de possibilidades
  seria aberto, proporcionando praticidade e agilidade para seus
  usuários através de seu método de filtragem rápido, assertivo e
  intuitivo. A viabilização da carreira musical é um desafio, a
  aplicação surge como uma ferramenta de auxílio aqueles que o
  enfrentam. 
</h3>

<h3 id="second-paragraph">
  O desenvolvimento do trabalho envolveu
  pesquisa, elaboração de ideias, organização de pensamentos,<img src="/src/assets/img/Harmoniar_arquivos/LOGOICONE.png" alt="">
  comunicação em equipe, planejamento de tarefas,
    gestão pessoal,  idealização  de  identidade  visual,  construção  de
  experiência do usuário, conhecimentos de programação, análise
  de requisitos, lógica, montagem de diagramas, modelagem de
  Banco de Dados, programação nas linguagens: C#, Javascript,
  TypeScript. 
</h3>
</div>
