#ft-container{
    font-family: 'Inter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.darkcontainer h1{
    font-size: 50px;
    padding:3rem;
    font-weight: bold;
}

.darkcontainer p{
    margin:30px;
    font-size: 25px;
    padding:3rem;
}

.darkcontainer{
    color: #fcf7f8;
    display: grid;
    place-items: center;
    padding:2rem;
    background-color: #030027;
    align-items: center;
    margin:3rem;
}

.darkcontainer button{
    margin: 3rem;
    font-size: 30px;
    border-radius: 30px/30%;
    background-color: #ee964b;
    color:#fcf7f8;
    width:20rem;
    height: 5rem;
    font-weight: bold;

}

.darkcontainer img{
    margin:3rem;
    height: 25rem;
}

.whitecontainer{
    color: #030027;
    display: grid;
    place-items: center;
    padding:2rem;
    background-color: #fcf7f8;
    align-items: center;
    margin:4rem;
}

.whitecontainer p{
    margin:30px;
    font-size: 25px;
    padding:1rem;
}

.back{
    font-size: 50px;
    background-image: url(./../../assets/img/Harmoniar_arquivos/image.png);
    padding-left: 30vw;
    padding-right: 30vw;
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

