#ft-container{
    font-family: 'Inter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.darkcontainer{
    color: #fcf7f8;
    display: flex;
    place-items: center;
    padding:5rem;
    background-color: #030027;
    align-items: center;
}

.darkcontainer button{
background-color: #ee964b;
}

.whitecontainer{
    color: #fcf7f8;
    display: flex;
    place-items: center;
    padding:5rem;
    background-color: #ee964b;
    align-items: center;
}

img{
    margin:3rem;
    height: auto;
    max-width: 40%;
}



.whitecontainer p{
    margin:30px;
    font-size: 25px;
    padding:1rem;
}

.whitecontainer button{
background-color: #030027;
}

.intro{
    color: #fcf7f8;
    display: grid;
    place-items: center;
    padding:5rem;
    background-color: #030027;
    align-items: center;
}

button{
    margin: 3rem;
    font-size: 20px;
    border-radius: 30px/60%;
    color:#fcf7f8;
    width:15rem;
    height: 3rem;
    font-weight: bold;
}

.back{
    padding: 5rem;
    display: flex;
    width: 35em;
    height: 12em;
    align-items: center;
}

.subtitle{
    padding: 10rem;
}

h1{
    font-size: 50px;
    padding:3rem;
    font-weight: bold;
}

p{
    margin:30px;
    font-size: 25px;
    padding:3rem;
}

.TextBlock{
    place-items: center;
    width: 40rem;
    margin-left: auto;
    padding: 5rem;
}

.TextBlockW{
    place-items: center;
    width: 40rem;
    margin-right: auto;
    padding: 5rem;
}

