<div id="ft-container">
    <div class="content_container">
        <div class="intro">
            <img class="back" src="./../../assets/img/Harmoniar_arquivos/Logo_Escura_SemFundo.png">
            <h1 class="subtitle">Música, Tecnologia e Inovação.</h1>
        </div>

        <div class="whitecontainer">
            <div class="TextBlockW">
                <h1>Sobre Nós</h1>
                <p>Na Harmoniar, acreditamos no poder transformador da música e no talento de artistas independentes. Sabemos que seguir uma carreira musical no Brasil é um caminho cheio de desafios — muitos talentos acabam desistindo por falta de oportunidades e visibilidade.</p>
                <button routerLink="/sobre-nos">Ver mais sobre</button>
            </div>
            <img src="./../../assets/img/Harmoniar_arquivos/Logo_Escura.png" class="Logo">
        </div>
        <div class="darkcontainer">
             <img src="./../../assets/img/Harmoniar_arquivos/image 1.png" class="pessoas">
            <div class="TextBlock">
                <h1>Nossa Missão Visão e Valores</h1>
                <p>Nosso objetivo é apoiar músicos e bandas independentes na realização de seus sonhos, conectando-os de forma prática e eficiente com contratantes em busca de seus serviços.</p>
                <button routerLink="/missao-valores">Ver mais sobre</button>
            </div>
        </div>
        <div class="whitecontainer">
            <div class="TextBlockW">
                <h1>Descubra mais sobre Nosso Aplicativo</h1>
                <p>O MajorBeat é um aplicativo móvel desenvolvido para impulsionar as carreiras e agendas de músicos e bandas independentes, facilitando a conexão deles com contratantes em busca de seus serviços.</p>
                <button routerLink="/nosso-aplicativo">Ver mais sobre</button>
            </div>
            <img src="./../../assets/img/Harmoniar_arquivos/LOGOMARCA.png" class="majorbeat">
        </div>
    </div>
</div>
<div class="MobileContainer">
    <div class="mobileD">
        <img class="imgMobile"alt="intro" src="./../../assets/img/Harmoniar_arquivos/Logo_Escura_SemFundo.png">
        <h1 class="subtitle">Música, Tecnologia e Inovação.</h1>
    </div>
    <div class="mobileW">
        <h1>Sobre Nós</h1>
        <img src="./../../assets/img/Harmoniar_arquivos/Logo_Escura.png" class="imgMobileQ">
        <p>Na Harmoniar, acreditamos no poder transformador da música e no talento de artistas independentes. Sabemos que seguir uma carreira musical no Brasil é um caminho cheio de desafios — muitos talentos acabam desistindo por falta de oportunidades e visibilidade.</p>
        <button class="Wbutton"  routerLink="/sobre-nos">Ver mais sobre</button>
    </div>
    <div class="mobileD">
        <h1>Nossa Missão Visão e Valores</h1>
        <img src="./../../assets/img/Harmoniar_arquivos/image 1.png" class="imgMobile">
        <p>Nosso objetivo é apoiar músicos e bandas independentes na realização de seus sonhos, conectando-os de forma prática e eficiente com contratantes em busca de seus serviços.</p>
        <button class="Dbutton" routerLink="/missao-valores">Ver mais sobre</button>
    </div>
    <div class="mobileW">
        <h1>Descubra mais sobre Nosso Aplicativo</h1>
        <img src="./../../assets/img/Harmoniar_arquivos/LOGOMARCA.png" class="imgMobileQ">
        <p>O MajorBeat é um aplicativo móvel desenvolvido para impulsionar as carreiras e agendas de músicos e bandas independentes, facilitando a conexão deles com contratantes em busca de seus serviços.</p>
        <button class="Wbutton" routerLink="/nosso-aplicativo">Ver mais sobre</button>
    </div>
</div>


