<div id="ft-container">
    <div class="content_container">
        <div class="whitecontainer">
            <h1 class="back">Nossa Empresa</h1>
            <p>A Harmoniar surgiu com o objetivo de apoiar músicos independentes em sua jornada profissional. Na sociedade atual, o caminho para se tornar um profissional da música é repleto de desafios. Fazendo muitos desistirem, devido às dificuldades em alcançar o sucesso nesse setor.

Nesse contexto, desenvolvemos o app MajorBeat com o objetivo de facilitar a vida desses artistas, ajudando-os a preencher suas agendas e a avançar rumo à realização dos seus sonhos musicais.</p>
        </div>
        <div class="darkcontainer">
            <h1>Sobre Nós</h1>
            <p>Na Harmoniar, acreditamos no poder transformador da música e no talento de artistas independentes. Sabemos que seguir uma carreira musical no Brasil é um caminho cheio de desafios — muitos talentos acabam desistindo por falta de oportunidades e visibilidade.</p>
            <img src="./../../assets/img/Harmoniar_arquivos/Logo_Escura.png" class="Logo">
            <button routerLink="/sobre-nos">Ver mais sobre</button>
        </div>
        <div class="whitecontainer">
            <h1>Nossa Missão Visão e Valores</h1>
            <p>Nosso objetivo é apoiar músicos e bandas independentes na realização de seus sonhos, conectando-os de forma prática e eficiente com contratantes em busca de seus serviços.</p>
            <img src="./../../assets/img/Harmoniar_arquivos/image 1.png" class="pessoas">
            <button routerLink="/missao-valores">Ver mais sobre</button>
        </div>
        <div class="darkcontainer">
            <h1>Descubra mais sobre Nosso Aplicativo</h1>
            <p>O MajorBeat é um aplicativo móvel desenvolvido para impulsionar as carreiras e agendas de músicos e bandas independentes, facilitando a conexão deles com contratantes em busca de seus serviços.</p>
            <img src="./../../assets/img/Harmoniar_arquivos/LOGOMARCA 2.png" class="majorbeat">
            <button routerLink="/nosso-aplicativo">Ver mais sobre</button>
        </div>
    </div>
</div>


