#ft-container{
    font-family: 'Inter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.darkcontainer{
    color: #fcf7f8;
    display: flex;
    place-items: center;
    padding:30px;
    background-color: #030027;
    align-items: center;
}

.darkcontainer button{
background-color: #ee964b;
}

.whitecontainer{
    color: #fcf7f8;
    display: flex;
    place-items: center;
    padding:50px;
    background-color: #ee964b;
    align-items: center;
}

.whitecontainer img{
    height: auto;
    max-width: 35%;
}

.darkcontainer img{
    height: auto;
    max-width: 40%;
}



.whitecontainer button{
background-color: #030027;
}

.intro{
    color: #fcf7f8;
    display: grid;
    place-items: center;
    padding:5rem;
    background-color: #030027;
    align-items: center;
}

button{
  display: flex;
  text-align: center;
  place-items: center;
  align-items: center;

    font-size: 20px;
    border-radius: 30px/60%;
    color:#fcf7f8;
    width:15rem;
    height: 3rem;
    font-weight: bold;
}

.back{
    padding: 5rem;
    display: flex;
    width: 35em;
    height: 12em;
    align-items: center;
}

.subtitle{
    padding: 10rem;
}

#ft-container h1{
    font-size: 3rem;
    padding:1rem;
    font-weight: bold;
}

#ft-container p{
    font-size: 1.5rem;
    margin:3rem;
    padding:1rem;
}

.TextBlock{
    place-items: center;
    width: 50%;
    margin-left: auto;

}

.TextBlockW{
    place-items: center;
    width: 50%;
    margin-right: auto;
}
.MobileContainer{
    font-family: 'Inter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    font-size: 1vw;
}

.MobileContainer p{
    font-size: 1.5rem;
}

.MobileContainer h1{
    font-size: 2rem;
    padding: none;
}

.mobileD{
    padding: 1rem;
    place-items: center;
    display: none;
    background-color: #030027;
    align-items: center;
    color: #fcf7f8;
}
.mobileW{
    padding: 3rem;
    place-items: center;
    display: none;
    background-color: #ee964b;
    align-items: center;
    color: #fcf7f8;
}
.imgMobile{
  display: flex;
    padding: 2rem;
    width: 500px;
    max-height: 400px;
    place-items: center;
    align-items: center;
}

.Dbutton{
    background-color: #ee964b;
    color: #fcf7f8;
    align-items: center;
    place-items: center;
}

.Wbutton{
    background-color: #030027;
    color: #fcf7f8;
}
img[alt*="intro"]{
    padding-top: 100px;
    place-items: center;
}

@media (max-width: 1000px) {
    #ft-container{
        display: none;
    }
    .mobileD{
        display: block;
    }
    .mobileW{
        display: block;
    }


}
